.header {
  /*Roteiro projeto etapa 2*/
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-size: cover;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  padding: 30px 80px 40px;
}
.header__title {
  /*Roteiro projeto etapa 2*/
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
  /*By. Felipe Carvalho*/
  width: 709px;
  margin: 183px 0 28px;
}
.header__span-accent {
  /*Roteiro projeto etapa 2*/
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
  /*By. Felipe Carvalho*/
  margin: 0;
}
.header__description {
  /*Roteiro projeto etapa 2*/
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  /*By. Felipe Carvalho*/
  max-width: 683px;
  margin: 0;
}
.header__image {
  /*Roteiro projeto etapa 2*/
  position: absolute;
  /*By. Felipe Carvalho*/
  max-width: 646px;
  max-height: 568px;
  top: 124px;
  right: 5px;
  bottom: auto;
  left: auto;
}
.header__footer {
  /*Roteiro projeto etapa 2*/
  font-style: normal;
  font-weight: 500;
  color: #6f6f6f;
  /*By. Felipe Carvalho*/
  margin: auto 0 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.header__paragraph {
  /*By. Felipe Carvalho*/
  margin: 0;
}
