.reservation {
  /*Roteiro projeto etapa 3*/
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-size: cover;
  /*By. Felipe Carvalho*/
  min-height: 100vh;
  color: #000000;
  display: flex;
  flex-direction: column;
  padding: 100px 80px 120px;
}
.reservation__title {
  /*Roteiro projeto etapa 3*/
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  /*By. Felipe Carvalho*/
  margin: 0 auto 80px;
}
.reservation__form {
  /*By. Felipe Carvalho*/
  margin: 0 auto;
}
